<div class="container">
    <div class="row feature">

        <div class="container">
           <h2>Pathologylab</h2>
            <div class="row">
               <div class="col-lg-8">
                <p> <strong>Name: </strong><%=@pathologylab.name%></p>
                <p> <strong>Email: </strong><%=@pathologylab.email%></p>
                <p> <strong>Address: </strong><%=@pathologylab.address%></p>
                <p> <strong>Member since: </strong><%=((Time.now.to_i - @pathologylab.created_at.to_i)/1.day)%> days</p>
                <p> <strong>Tests provided: </strong></p>
                <% @test.each do |f|%>
                <tr>
                    <td>
                    <strong class="appt-id"><%= f.name%></strong>
                    </td>
                </tr>
                <% end %>

                <!--<p> <strong>Educational Institution: </strong> IIIT-Bangalore </p>-->
                <!--<p> <strong>Country: </strong> India </p>-->
                <% if pathologylab_signed_in? and current_pathologylab.id==@pathologylab.id%>
                    <render editbutton>
                    <p><a class="btn btn-secondary" role="button" href = <%= edit_pathologylab_registration_path(current_pathologylab) %>>Edit </a></p>
                <% end %>
              </div>
            </div>
        </div>


    </div>
    <br />

    <br />
</div>
