<style>
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: green;
}
</style>

<h2>Pathology Lab</h2> <br><br>

<div class="panel panel-default">
  <div class="panel-heading">Name</div>
  <div class="panel-body"><%=@pathologylab.name%></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Email</div>
  <div class="panel-body"><%=@pathologylab.email%></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Address</div>
  <div class="panel-body"><%=@pathologylab.address%></div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Member Since</div>
  <div class="panel-body"><%=((Time.now.to_i - @pathologylab.created_at.to_i)/1.day)%> days</div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Tests provided</div>
  <div class="panel-body">
      <% @test.each do |f|%>
      <tr>
          <td>
          <%= f.name%> <br>
          </td>
      </tr>
      <% end %>
  </div>
</div>

<br><br>

<% if pathologylab_signed_in? and current_pathologylab.id==@pathologylab.id%>
    <render editbutton>
    <p><a class="button" role="button" href = <%= edit_pathologylab_registration_path(current_pathologylab) %>>Edit </a></p>
<% end %>
